@import '../../style/mixins.scss';
@import '../../index.scss';

.open{
    padding-block: 4rem 8rem;

    &__container{
        padding-inline: 5rem;
        display: flex;
        flex-direction: column;
        gap: 6rem;

        @include respond(tablet){
            padding-inline: 1rem;
        }
    }

    &__first, &__second{
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 7rem;

        @include respond(tablet){
            gap: 4rem;
        }

        @include respond(tablet){
            grid-template-columns: 1fr;
        }

    }

    &__text{
        width: 80%;

        @include respond(tablet){
            order: 1;
            width: 100%;
        }
    }

    img{
        width: 110%;
    }

    @include respond(tablet){
        width: 100%;
    }

    h2{
        letter-spacing: -0.025rem;
        font-size: 3rem;
        line-height: 1.1;
        color: $dark;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 700;
        margin-bottom: 1.2rem;

        @include respond(tablet){
            font-size: 2.5rem;
        }
    }

    p{
        color: $dark-gray;
        letter-spacing: -0.015rem;
        font-size: 1.125rem;
        line-height: 1.75;
    }
}