header {
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    img{
      width: 100%;
      max-width: 150px;
    }

    .navigation ul{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        
        li a{
            color: $white;
            font-size: 1.3rem;
            position: relative;
            transition: .4s;
        }

        li a:hover {
            color: $primary-brown;
        }

        li a::before{
            content: '';
            width: 0;
            height: 2px;
            border-radius: 2px;
            background-color: $primary-brown;
            position: absolute;
            bottom: -.25rem;
            left: 50%;
            transition: width .4s, left .4s;
        }

        li a:hover::before{
            width: 100%;
            left: 0;
            color: $primary-brown;
        }

        
    }

    .header-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        color: $white;
        font-size: 1.4rem;
        cursor: pointer;
    }

    .header-icons:hover{
        animation: scaleButton 0.9s alternate infinite;
    }

    @keyframes scaleButton {
        from{
            transform: scale(1);
        }
        to{
            transform: scale(1.3);
        }
    }

}

.icon-menu {
    --gap: 5px;
    --height-bar: 2.5px;
    --pos-y-bar-one: 0;
    --pos-y-bar-three: 0;
    --scale-bar: 1;
    --rotate-bar-one: 0;
    --rotate-bar-three: 0;
    width: 25px;
    display: none;
    flex-direction: column;
    gap: var(--gap);
    cursor: pointer;
    position: relative;
  }
  
  .bar {
    position: relative;
    height: var(--height-bar);
    width: 100%;
    border-radius: .5rem;
    background-color: $primary-brown;
  }
  
  .bar--1 {
    top: var(--pos-y-bar-one);
    transform: rotate(var(--rotate-bar-one));
    transition: top 200ms 100ms, transform 100ms;
  }
  
  .bar--2 {
    transform: scaleX(var(--scale-bar));
    transition: transform 150ms 100ms;
  }
  
  .bar--3 {
    bottom: var(--pos-y-bar-three);
    transform: rotate(var(--rotate-bar-three));
    transition: bottom 200ms 100ms, transform 100ms;
  }
  
  .check-icon:checked + .icon-menu > .bar--1 {
    transition: top 200ms, transform 200ms 100ms;
  }
  
  .check-icon:checked + .icon-menu > .bar--3 {
    transition: bottom 200ms, transform 200ms 100ms;
  }
  
  .check-icon:checked + .icon-menu {
    --pos-y-bar-one: calc(var(--gap) + var(--height-bar));
    --pos-y-bar-three: calc(var(--gap) + var(--height-bar));
    --scale-bar: 0;
    --rotate-bar-one: 45deg;
    --rotate-bar-three: -45deg;
  }
  /* FIN ICON-MENU */

  .mobile-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.mobile-menu-overlay ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.mobile-menu-overlay li {
    margin-bottom: 20px;
}

.mobile-menu-overlay a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.4s;
}

.mobile-menu-overlay a:hover {
    color: $primary-brown;
}



  //-------------

  @media screen and (max-width: 780px) and (min-width: 767px) {
    .icon-menu{
      display: flex;
      z-index: 2000;
      margin: 20px 10px 0 0;
    }

    .navigation {
      display: none;
    }

    .header-icons i{
      display: none;
    }

  }

  @media screen and (min-width: 390px) and (max-width: 779px){

    .header img{
      display: none;
    }

    .icon-menu{
      display: flex;
      z-index: 2000;
      margin: 20px 10px 0 0;
    }

    .navigation {
      display: none;
    }

    .header-icons i{
      display: none;
    }

  }



  